.lfr-object__object-custom-view-builder-empty-space {
	align-items: center;
	display: flex;
	justify-content: center;
	text-align: center;
}

.lfr-object__object-view-builder-search-icon {
	width: 50px;
}
